.nav-link {
	display: inline-block;
	/* float: left; */
	padding: 5px;
	text-align: left;
}

.nav {
	position: absolute;
	bottom: 0px;
	right: 170px;
}
/* .active:active {
	border: 2px solid red;
}
.nav-link:active {
	border: 2px solid red;
} */

a {
	text-decoration: none !important;
	color: gray;
}
